@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.nav {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
}

.title {
  font-size: 41px;
  line-height: 48px;
  font-weight: 400;
}

.link {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.header {
  background: url(../images/header/header_bg.jpg) 50%/cover no-repeat;
  height: 100vh;
  background-color: #B4BDCB;
}
.header-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}
.header-logo {
  padding-top: 32px;
}
.header-nav {
  position: absolute;
  right: 15px;
  top: 22px;
  text-align: right;
}
.header-nav__link {
  transition: 0.5s all;
  border-bottom: 1px solid transparent;
}
.header-nav__link:hover {
  color: #A7FEFF;
  border-bottom: 1px solid #A7FEFF;
}
.header-title {
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
  width: 385px;
}
.header-links {
  width: 430px;
  border-top: 2px solid #FFFFFF;
  padding-top: 25px;
  margin-bottom: 59px;
}
.header-links__link {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  padding-top: auto;
  padding-right: 32px;
  transition: 0.5s all;
}
.header-links__link:first-child {
  margin-right: 21px;
}
.header-links__link::after {
  content: "";
  width: 20px;
  height: 16px;
  background: url(../images/icons/arrow_right_20x16.png) no-repeat;
  position: absolute;
  top: 4px;
  right: 0px;
}
.header-links__link:hover {
  color: #A7FEFF;
}

.cards {
  background-color: #B4BDCB;
}
.cards-items {
  display: flex;
  justify-content: space-around;
}
.cards-item {
  flex-basis: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards-item:nth-child(1) {
  background-color: #C9A3A4;
}
.cards-item:nth-child(2) {
  background-color: #A7CEEF;
}
.cards-item:nth-child(3) {
  background-color: #ACB5AC;
}
.cards-item__title {
  margin-top: 60px;
  padding-bottom: 34px;
  margin-left: 60px;
  margin-right: 60px;
  border-bottom: 2px solid #FFFFFF;
}
.cards-item__image {
  text-align: center;
}
.cards-item__link {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: 60px;
  margin-bottom: 60px;
}
.cards-item__link a {
  padding-right: 23px;
  position: relative;
  transition: all 0.5s;
}
.cards-item__link a::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 5px;
  width: 14px;
  height: 14px;
  background-image: url(../images/icons/arrow_right_14x14.png);
}
.cards-item__link a:hover {
  color: #A7FEFF;
}

.future {
  background-color: #B4BDCB;
}
.future-wrapper {
  background: url(../images/future/future_bg.png) 50%/cover no-repeat;
  padding: 60px;
}
.future__title {
  padding-bottom: 34px;
  width: 427px;
  border-bottom: 2px solid #FFFFFF;
}
.future__text {
  font-size: 18px;
  line-height: 24px;
  width: 340px;
  padding-top: 29px;
  margin-bottom: 246px;
}
.future__link a {
  padding-right: 32px;
  position: relative;
  transition: all 0.5s;
}
.future__link a::after {
  content: "";
  width: 20px;
  height: 16px;
  background: url(../images/icons/arrow_right_20x16.png) no-repeat;
  position: absolute;
  top: 4px;
  right: 0px;
}
.future__link a:hover {
  color: #A7FEFF;
}

.footer {
  color: #858585;
  text-transform: uppercase;
  line-height: 20px;
}
.footer-wrapper {
  display: flex;
  padding: 60px;
}
.footer-nav {
  flex-basis: 18%;
  padding-right: 25px;
}
.footer-nav__link {
  transition: 0.5s all;
  border-bottom: 1px solid transparent;
}
.footer-nav__link:hover {
  color: #008A9C;
  border-bottom: 1px solid #BC9465;
}
.footer-social {
  flex-basis: 32%;
}
.footer-social__links {
  margin-bottom: 21px;
}
.footer-social__email {
  position: relative;
}
.footer-social__email input {
  border: none;
  border-bottom: 1px solid #858585;
  line-height: 27px;
  text-transform: uppercase;
  width: 100%;
  transition: 0.5s all;
}
.footer-social__email input:focus, .footer-social__email input:hover, .footer-social__email input:active {
  outline: none;
  color: #008A9C;
  border-bottom: 1px solid #BC9465;
}
.footer-social__email::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 2px;
  width: 14px;
  height: 14px;
  background-image: url(../images/icons/arrow_right_grey_14x14.png);
}
.footer__logo {
  flex-basis: 9%;
  padding-right: 25px;
}
.footer__copyright {
  flex-basis: 41%;
  padding-right: 25px;
}

@media screen and (max-width: 1210px) {
  .header-title {
    text-shadow: 5px 5px 10px #000;
  }

  .cards-items {
    flex-direction: column;
  }
}
@media screen and (max-width: 856px) {
  .header-nav {
    font-size: 150%;
    line-height: 200%;
  }

  .future__title {
    width: 313px;
  }

  .footer-wrapper {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0fr 0fr;
    gap: 20px 20px;
    grid-template-areas: "c c" "d d" "a b";
  }

  .footer__logo {
    grid-area: a;
    align-self: flex-end;
  }

  .footer__copyright {
    grid-area: b;
    align-self: flex-end;
  }

  .footer-nav {
    grid-area: c;
    font-size: 120%;
    line-height: 120%;
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
  }

  .footer-nav__link {
    transition: 0.5s all;
    border-bottom: 1px solid #858585;
  }

  .footer-social {
    grid-area: d;
  }
}
@media screen and (max-width: 689px) {
  .header-nav {
    text-shadow: 1px 1px 7px #000;
  }

  .header-title {
    font-size: 50px;
    line-height: 60px;
  }

  .future__text {
    width: 200px;
  }

  .future__title {
    width: 200px;
  }

  .future__text {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 537px) {
  .header-links {
    border-top: 2px solid transparent;
    display: flex;
    flex-direction: column;
    width: 230px;
  }

  .header-links__link {
    width: 230px;
  }

  .header-title {
    font-size: 45px;
    line-height: 55px;
    font-weight: 400;
    width: 304px;
    padding-top: 100px;
  }

  .header-links__link:first-child {
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .cards-item__link {
    margin-left: 30px;
  }

  .cards-item__title {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }

  .future-wrapper {
    background: url(../images/future/future_bg.png) 45%/cover no-repeat;
    padding: 30px;
  }

  .footer-wrapper {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0fr;
    gap: 20px 20px;
    grid-template-areas: "c c" "c c" "d d" "a a" "b b";
  }

  .footer__logo {
    grid-area: a;
    align-self: flex-end;
  }

  .footer__copyright {
    grid-area: b;
    align-self: flex-start;
  }

  .footer-nav {
    grid-area: c;
    font-size: 150%;
    line-height: 170%;
    display: block;
  }

  .footer-social {
    grid-area: d;
  }

  .cards-item__image {
    padding-bottom: 15px;
  }
  .cards-item__image img {
    max-width: 100%;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .footer__logo {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .footer__copyright {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .footer-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .footer-social {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media screen and (max-width: 856px){

  .footer__logo {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .footer__copyright {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }

  .footer-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .footer-social {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .footer__logo {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .footer__copyright {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }

  .footer-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .footer-social {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media screen and (max-width: 537px){

  .footer__logo {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .footer__copyright {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .footer-nav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .footer-social {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media screen and (max-width: 500px) {
  .header-wrapper {
    padding-left: 15px;
    padding-right: 0px;
  }

  .header-links {
    padding-top: 0px;
    margin-bottom: 25px;
  }
}