$color-white: #FFFFFF;
$color-black: #000000;
$color-blue-grey: #B4BDCB;
$color-pink: #C9A3A4;
$color-blue: #A7CEEF;
$color-green: #ACB5AC;
$color-grey: #858585;
$color-lightgrey: #BBBFBF;
$color-teal: #A7FEFF;