@import "_variables.scss";

// Connecting fonts: Roboto regular
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $color-white;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.nav {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
}

// regular styles
.header {
    background: url(../images/header/header_bg.jpg) 50%/cover no-repeat;
    height: 100vh;
    background-color: $color-blue-grey;

    &-wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // .header-logo
    &-logo {
        padding-top: 32px;
    }

    // .header-nav
    &-nav {
        position: absolute;

        right: 15px;
        top: 22px;

        text-align: right;

        // .header-nav__link
        &__link {
            transition: 0.5s all;
            border-bottom: 1px solid transparent;

            &:hover {
                color: #A7FEFF;
                border-bottom: 1px solid $color-teal;
            }
        }
    }

    // .header-title
    &-title {
        font-size: 60px;
        line-height: 70px;
        font-weight: 400;
        width: 385px;
    }

    // .header-links
    &-links {
        width: 430px;
        border-top: 2px solid $color-white;
        padding-top: 25px;
        margin-bottom: 59px;



        // .header-links__link
        &__link {
            font-size: 19px;
            line-height: 24px;
            text-transform: uppercase;
            position: relative;
            padding-top: auto;
            padding-right: 32px;

            transition: 0.5s all;

            &:first-child {
                margin-right: 21px;
            }

            &::after {
                content: '';
                width: 20px;
                height: 16px;
                background: url(../images/icons/arrow_right_20x16.png) no-repeat;

                position: absolute;
                top: 4px;
                right: 0px;
            }

            &:hover {
                color: $color-teal;
            }
        }
    }
}